# ================= Flutter =================
.dart_tool/
build/
.flutter-plugins-dependencies
.packages
.pub/
pubspec.lock

# ================= Android =================
android/.gradle/
android/.kotlin/
android/app/build/
android/build/
android/local.properties

# ================= iOS =================
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace

# ================= Logs =================
*.log
firebase-debug.log

# ================= IDE =================
*.iml
.idea/
.vscode/

# ================= System =================
*.swp
.DS_Store

# ================= Misc =================
result/
tatus